# Ignore target directory
target/

# Ignore IDE-specific files
*.iml
.idea/
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/modules.xml
/.idea/*.iml
/.idea/misc.xml

# Ignore build output
/bin/
/build/
/out/

# Ignore Spring Boot application properties files
/application*.yml
/application*.properties

# Ignore log files
*.log

# Ignore Maven wrapper files
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties

/auditing/auditing/target/
/auditing/auditing/bin/
/auditing/auditing/out/
/auditing/auditing/.mvn/wrapper/maven-wrapper.jar
/auditing/auditing/.mvn/wrapper/maven-wrapper.properties
/auditing/auditing/.idea/
/auditing/auditing/*.iml
/auditing/auditing/.idea/workspace.xml
/auditing/auditing/.idea/tasks.xml
/auditing/auditing/.idea/modules.xml
/auditing/auditing/.idea/*.iml
/auditing/auditing/.idea/misc.xml
/auditing/auditing/.mvn/wrapper/maven-wrapper.jar
/auditing/auditing/!.mvn/wrapper/maven-wrapper.jar
/auditing/auditing/!**/src/main/**/target/
/auditing/auditing/!**/src/test/**/target/
/auditing/auditing/auditing/auditing/.mvn/wrapper/maven-wrapper.jar
/auditing/auditing/.mvn/*

/payments/payments/target/
/payments/payments/bin/
/payments/payments/out/
/payments/payments/.mvn/wrapper/maven-wrapper.jar
/payments/payments/.mvn/wrapper/maven-wrapper.properties
/payments/payments/.idea/
/payments/payments/*.iml
/payments/payments/.idea/workspace.xml
/payments/payments/.idea/tasks.xml
/payments/payments/.idea/modules.xml
/payments/payments/.idea/*.iml
/payments/payments/.idea/misc.xml
/payments/payments/.mvn/wrapper/maven-wrapper.jar
/payments/payments/!.mvn/wrapper/maven-wrapper.jar
/payments/payments/!**/src/main/**/target/
/payments/payments/!**/src/test/**/target/
/payments/payments/payments/payments/.mvn/wrapper/maven-wrapper.jar
/payments/payments/.mvn/*

/service-registry/service-registry/target/
/service-registry/service-registry/bin/
/service-registry/service-registry/out/
/service-registry/service-registry/.mvn/wrapper/maven-wrapper.jar
/service-registry/service-registry/.mvn/wrapper/maven-wrapper.properties
/service-registry/service-registry/.idea/
/service-registry/service-registry/*.iml
/service-registry/service-registry/.idea/workspace.xml
/service-registry/service-registry/.idea/tasks.xml
/service-registry/service-registry/.idea/modules.xml
/service-registry/service-registry/.idea/*.iml
/service-registry/service-registry/.idea/misc.xml
/service-registry/service-registry/.mvn/wrapper/maven-wrapper.jar
/service-registry/service-registry/!.mvn/wrapper/maven-wrapper.jar
/service-registry/service-registry/!**/src/main/**/target/
/service-registry/service-registry/!**/src/test/**/target/
/service-registry/service-registry/service-registry/service-registry/.mvn/wrapper/maven-wrapper.jar
/service-registry/service-registry/.mvn/*